manifest {
    author = "Tiago F. Jesus"
    description = "This is a nextflow pipeline to generate the pATLAS database."
}

params {

}

process {
    // container is used for all processes
    container: "tiagofilipe12/patlas-db-creation"
}

profiles {
    // standard uses executor local and docker
    standard {
        docker.enabled = true
    }
    singularity {
        cacheDir = "$HOME/.singularity_cache"
        singularity.enabled = true
    }
    slurm_shifter {
        process.executor  = "slurm"
        process.errorStrategy = "retry"
        process.maxRetries = 3
        shifter.enabled = true

    }
    lobo {
        process.executor  = "slurm"
        process.errorStrategy = "retry"
        // option exclusive for imm-lobo cluster
        process.clusterOptions = "--exclude=compute-1"
        process.maxRetries = 3
        shifter.enabled = true
    }
}